<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head.ejs', { title: 'Dog' }) %>
  </head>
  <body class="text-center">
    <h1>Error</h1>

    <%- include('partials/footer') %>
  </body>
</html>
